    #openImage {
      width: 200px;        /* Make the preview image 400px */
      cursor: pointer;
      border-radius: 5px;
    }

    /* Popup background */
    #popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.8);
      justify-content: center;
      align-items: center;
    }

    /* Full image */
    #popup img {
      max-width: 90%;
      max-height: 90%;
      border-radius: 8px;
    }

    /* Close button */
    #closeBtn {
      position: absolute;
      top: 20px;
      bottom: 40px;
      font-size: 35px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }