.popup-trigger {
  width: 450px;
  height: 200px;
  cursor: pointer;
  border-radius: 5px;
}

#popup {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#popupImage {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

#closeBtn {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 45px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  z-index: 10000;
}
